@model IEnumerable<PostModel>
@{
    ViewData["Title"] = "Community - All Questions";
}


<!-- Question Section -->
<section id="question-section" class="container community-container section">
    <div class="container section-title">
        <h2>All Questions</h2>
        <h5>Explore all the questions available in the community.</h5>
    </div>

    <!-- Header -->
    <header class="header">
        <a asp-action="AskQuestion" class="ask-btn">Ask Question</a>
    </header>

        <!-- Search Bar -->
        <div class="search-container">
            <input type="text" class="search-input" placeholder="search problem" style="width: 100%;">
        </div>

        <!-- #region  show error-->
        @if(ViewData["InternalServerError"] != null)    {
        <partial name="_Errors"/>
        }else{
 
        <!-- Questions List -->
        <div class="questions-list">
            @{
                int idx = 1;
                foreach (PostModel question in Model)
                {
                    <a class="question-card" tabindex="0" asp-action="QuestionDetails" asp-route-questionId="@question.QuestionId">
                        <div class="question-header">
                            <div class="question-number">@idx</div>
                            <h2 class="question-title">@question.Title</h2>
                        </div>
                        <div class="question-meta">
                            <div class="meta-itm timestamp">
                                Asked : @question.CreatedAt.ToString()
                            </div>
                            <div class="meta-iem answers-count">
                                @* Answers : @question.AnswersCount *@
                                Answers : 10
                            </div>
                        </div>
                    </a>
                    idx++;
                }

                if (Model.Count() == 0)
                {
                    <div class="no-questions-found">
                        <p>No questions found.</p>
                    </div>
                }
            }
        </div>
        }

    </section>

