@model TopicModel

@{
     string title = Model == null ||  Model.TopicId == null ? "Add" : "Edit";
}

<div class="flex flex-col items-center">
    <div class="w-full  bg-white rounded-lg shadow-lg p-6">
        <h2 class="responsive-title text-gray-900 mb-4 text-center">@(title) Topic</h2>
        @*    <h2 class="text-lg sm:text-md md:text-xl lg:text-2xl text-gray-900 mb-4 text-center">
        Add Difficulty Level
        </h2> *@


        <form asp-action="AddOrEditTopic" asp-controller="Topic" method="post" class="flex  w-full flex-col">
            <!-- Topic Id -->
            <input asp-for="TopicId" type="hidden" />

            <!--Topic Name-->
            <div class="mb-2">
                <div class="flex">
                    <span class="text-red-600">*</span><label asp-for="TopicName" class="text-gray-700 mb-1"></label>
                </div>
                <input asp-for="TopicName" placeholder="Enter TopicName" class="w-full bg-gray-100 text-gray-900 border-0 rounded-md p-2  focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150">
                <span asp-validation-for="TopicName" class="text-red-600"></span>
            </div>

            <!-- Course Dropdown -->
            <div class="mb-2 w-full">
                <div class="flex">
                    <span class="text-red-600">*</span><label asp-for="Course!.CourseName" class=" text-gray-700 mb-1"></label>
                </div>
                <select  id="CourseDropdown"asp-for="CourseId" asp-items="@(ViewBag.CourseList as List<SelectListItem>)"
                        class="w-full bg-gray-100 text-gray-900 border-0 rounded-md p-2 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150">
                    <option value="">Select Course</option>
                </select>
                <span asp-validation-for="CourseId" class="text-red-600"></span>
            </div>

                <!-- difficulty Level radio -->
                <div class="mb-2">
                    <span class="text-red-600">*</span><label asp-for="DifficultyLevel.DifficultyLevelName" class="text-gray-700 mb-1"></label>
                <div class="flex">

                    @foreach(SelectListItem difficultyLevel in @ViewBag.difficultyLevelList as List<SelectListItem> ){
                        <div class="cursor-pointer">
                         <input asp-for="DifficultyLevelId" id="@difficultyLevel.Value" type="radio" value="@difficultyLevel.Value" class="m-2"/>
                        <label for="@difficultyLevel.Value" >@difficultyLevel.Text</label>
                    </div>
                        }
                </div>
                    <span asp-validation-for="DifficultyLevelId" class="text-red-600"></span>
            </div>

            <!-- Level Dropdown -->
            <div class="mb-2 w-full">
                <div class="flex">
                    <label asp-for="Level" class=" text-gray-700 mb-1"></label>
                </div>
                <select id="LevelDropdown" asp-for="Level" asp-items="@(ViewBag.LevelList as List<SelectListItem>)"
                        class="w-full bg-gray-100 text-gray-900 border-0 rounded-md p-2 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150">
                    <option value="0">Select Level</option>
                </select>
            </div>
            
            <!--content-->
            <div>
                <label asp-for="Content" class="text-gray-700 mb-1"></label>
                <textarea id="my-text-area" asp-for="Content"></textarea>
                <span asp-validation-for="Content" class="text-red-600"></span>
            </div>



            <div class="flex gap-x-4">
                <partial name="_Submit_Button" model="@(title)" />
                <partial name="_Back_Button" model="@("Back")" />
            </div>
        </form>
    </div>
</div>




@section Scripts{
<!-- Text area -->
<script>
    const easymde = new EasyMDE({
        element: document.getElementById('my-text-area'),
    });
</script>

<!-- Level change by course Name -->
<script>
    $(document).ready(function () {
        $('#CourseDropdown').change(function () {
            var courseId = $(this).val();
            if (courseId) {
                $.ajax({
                    type: "GET",
                    url: "/Topic/GetLevelsListByCourseId",
                    data: { courseId: courseId },
                    success: function (res) {
                        if (res) {
                            $("#LevelDropdown").empty();
                            $("#LevelDropdown").append('<option value="">Select Level</option>');
                            $.each(res, function (key, value) {
                                $("#LevelDropdown").append('<option value="' + key + '">' + value + '</option>');
                            });
                        }
                    }
                });
            }
        });
    });
</script>
}
