@model TopicModel

@{
     string title = Model == null ||  Model.TopicId == null ? "Add" : "Edit";
}

<div class="flex flex-col items-center">
    <div class="w-full  bg-white rounded-lg shadow-lg p-6">
        <h2 class="text-xl text-gray-900 mb-4 text-center">@(title) Topic</h2>
        @*    <h2 class="text-lg sm:text-md md:text-xl lg:text-2xl text-gray-900 mb-4 text-center">
        Add Difficulty Level
        </h2> *@


        <form asp-action="AddOrEditTopic" asp-controller="Topic" method="post" class="flex  w-full flex-col">
            <!-- Topic Id -->
            <input asp-for="TopicId" type="hidden" />

            <!--Topic Name-->
            <div class="mb-2">
                <div class="flex">
                    <label asp-for="TopicName" class="text-gray-700 mb-1"></label><span class="text-red-600">*</span>
                </div>
                <input asp-for="TopicName" placeholder="Enter TopicName" class="w-full bg-gray-100 text-gray-900 border-0 rounded-md p-2  focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150">
                <span asp-validation-for="TopicName" class="text-red-600"></span>
            </div>

            <!--Select difficulty Level and course Dropdown -->
            <div class="flex flex-col md:flex-row mb-2 gap-x-4">
                <!-- Course -->
                <div class="mb-2 w-full">
                    <div class="flex">
                        <label asp-for="Course!.CourseName" class=" text-gray-700 mb-1"></label><span class="text-red-600">*</span>
                    </div>
                    <select asp-for="CourseId" asp-items="@(ViewBag.CourseList as List<SelectListItem>)"
                            class="w-full bg-gray-100 text-gray-900 border-0 rounded-md p-2 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150">
                        <option value="">Select Course</option>
                    </select>
                    <span asp-validation-for="CourseId" class="text-red-600"></span>
                </div>

                <!-- difficulty Level -->
                <div class="mb-2 w-full">
                    <div class="flex">
                        <label asp-for="DifficultyLevel!.DifficultyLevelName" class=" text-gray-700 mb-1"></label><span class="text-red-600">*</span>
                    </div>
                    <select asp-for="DifficultyLevelId" asp-items="@(ViewBag.difficultyLevelList as List<SelectListItem>)"
                            class="w-full bg-gray-100 text-gray-900 border-0 rounded-md p-2 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150">
                        <option value="">Select Difficulty Level</option>
                    </select>
                    <span asp-validation-for="DifficultyLevelId" class="text-red-600"></span>
                </div>

            </div>

            <!--content-->
            <div>
                <label asp-for="Content" class="text-gray-700 mb-1"></label>
                <textarea id="my-text-area" asp-for="Content"></textarea>
                <span asp-validation-for="Content" class="text-red-600"></span>
            </div>



            <div class="flex gap-x-4">
                <partial name="_Submit_Button" model="@(title)" />
                <partial name="_Back_Button" model="@("Back")" />
            </div>
        </form>
    </div>
</div>


<script>
    const easymde = new EasyMDE({
        element: document.getElementById('my-text-area'),
    });
</script>