@model McqModel

@{
     string title = Model == null ||  Model.SubTopicId == null ? "Add" : "Edit";
     ViewData["Title"] = title + " Mcq";
}



<div class="flex flex-col items-center">
     <!-- Loading -->
    <div id="model-loading" style="display: none;" >
         <partial name="_Loading_Dialong"/>
    </div>
</div>
    <div class="w-full  bg-white rounded-lg shadow-lg p-6">
        <h2 class="responsive-title text-gray-900 mb-4 text-center">@(title) Mcq</h2>
        @*    <h2 class="text-lg sm:text-md md:text-xl lg:text-2xl text-gray-900 mb-4 text-center">
        Add Difficulty Level
        </h2> *@


        <form asp-action="AddOrEditInterviewMcq" asp-controller="Mcq" method="post" class="flex  w-full flex-col">

            <!-- Display validation summary for the entire form -->
            <div asp-validation-summary="ModelOnly" class="text-red-600"></div>

              @if(TempData["LableErrorMesssage"] != null)
                {
                <p class="validation-error-lable" style="text-align: start;">@TempData["LableErrorMesssage"]</p>
                }

            <!-- Mcq Id -->
            <input asp-for="McqId" type="hidden"/>

            <!--Question-->
            <div class="mb-2">
                <div class="flex">
                    <span class="text-red-600">*</span><label asp-for="QuestionText" class="text-gray-700 mb-1"></label>
                </div>
                <textarea asp-for="QuestionText" id="easymdeQuestion" placeholder="Enter Question" class="w-full bg-gray-100 text-gray-900 border-0 rounded-md p-2  focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150"></textarea>
                <span asp-validation-for="QuestionText" class="text-red-600"></span>
            </div>

            <!--  Mcq Options Answer -->
            <!--Option A-->
            <div class="mb-2" >
                <div class="flex">
                    <span class="text-red-600">*</span><label asp-for="OptionA" class=" text-gray-700 mb-1"></label>
                </div>
                <textarea rows="5" id="my-text-areaA" asp-for="OptionA"  placeholder="Enter option A"></textarea>
                <span asp-validation-for="OptionA" class="text-red-600"></span>
            </div>

            <!--Option B-->
            <div class="mb-2">
                <div class="flex">
                    <span class="text-red-600">*</span><label asp-for="OptionB"  class=" text-gray-700 mb-1"></label>
                </div>
                <textarea rows="5" id="my-text-areaB" asp-for="OptionB" placeholder="Enter option B"></textarea>
                <span asp-validation-for="OptionB" class="text-red-600"></span>
            </div>

            <!--Option C-->
            <div class="mb-2">
                <div class="flex">
                    <span class="text-red-600">*</span><label asp-for="OptionC" class=" text-gray-700 mb-1"></label>
                </div>
                <textarea rows="5" id="my-text-areaC" placeholder="Enter option C" asp-for="OptionC"></textarea>
                <span asp-validation-for="OptionC" class="text-red-600"></span>
            </div>

            <!--Option D-->
            <div class="mb-2">
                <div class="flex">
                    <span class="text-red-600">*</span><label asp-for="OptionD" class=" text-gray-700 mb-1"></label>
                </div>
                <textarea rows="5" id="my-text-areaD" asp-for="OptionD" placeholder="Enter option D"></textarea>
                <span asp-validation-for="OptionD" class="text-red-600"></span>
            </div>


            <!--Correct Answer Topic -->
            @{
                var optionList = new List<SelectListItem>()
                {
                    new SelectListItem(){ Value="A" , Text="A"},
                    new SelectListItem(){ Value="B" , Text="B"},
                    new SelectListItem(){ Value="C" , Text="C"},
                    new SelectListItem(){ Value="D" , Text="D"},
                };
            }
            <div class="mb-2 w-full">
                <div class="flex">
                    <span class="text-red-600">*</span><label asp-for="CorrectAnswer" class="text-gray-700 mb-1"></label>
                </div>
                <select asp-for="CorrectAnswer" asp-items="@(optionList as List<SelectListItem>)"
                        class="w-full bg-gray-100 text-gray-900 border-0 rounded-md p-2 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150">
                    <option value="">Select Correct Answer</option>
                </select>
                <span asp-validation-for="CorrectAnswer" class="text-red-600"></span>
            </div>

            <!-- Answer Description -->
            <div class="mb-2">
                <div class="flex">
                    <span class="text-red-600">*</span><label asp-for="AnswerDescription" class=" text-gray-700 mb-1"></label>
                </div>
                <textarea rows="3" id="text-area-easymdeAnswerDescription" placeholder="Enter  Answer Description" asp-for="AnswerDescription"></textarea>
                <span asp-validation-for="AnswerDescription" class="text-red-600"></span>
            </div>


             <!--Is Active -->
            <div class="mb-2">
                <div class="flex">
                    <span class="text-red-600">*</span><label asp-for="IsActive" class="text-gray-700 mb-1"></label>

                    <div class="cursor-pointer">
                        <input asp-for="IsActive" id="active" type="radio" value="true" class="m-2" checked="@(Model == null ? true : Model.IsActive)" />
                        <label asp-for="IsActive" for="active" >Yes</label>
                    </div>
                    <div class="cursor-pointer">
                        <input asp-for="IsActive" id="inActive" type="radio" value="false" class="m-2" />
                        <label asp-for="IsActive" for="inActive">No</label>
                    </div>
                    
                </div>
            </div>

              <!-- Company Name  -->
            <div class="mb-2">
                <div class="flex">
                    <span class="text-red-600">*</span><label asp-for="CompanyName" class="text-gray-700 mb-1"></label>
                </div>
                <input  asp-for="CompanyName" placeholder="Enter Company Name" class="w-full bg-gray-100 text-gray-900 border-0 rounded-md p-2  focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150"></input>
                <span asp-validation-for="CompanyName" class="text-red-600"></span>
            </div>
            
             <!-- TopicName  -->
            <div class="mb-2">
                <div class="flex">
                    <label asp-for="TechStack" class="text-gray-700 mb-1"></label>
                </div>
                <input  asp-for="TechStack" placeholder="Enter Tech Stack ex . Java , mern stack , flutter" class="w-full bg-gray-100 text-gray-900 border-0 rounded-md p-2  focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150"></input>
                <span asp-validation-for="TechStack" class="text-red-600"></span>
            </div>


            <div class="flex gap-x-4">
                <partial name="_Submit_Button" model="@(title)" />
                <partial name="_Back_Button" model="@("Back")" />
            </div>
        </form>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script> <!-- Local version of jQuery -->
<script>
    const easymdeQuestion = new EasyMDE({
        element: document.getElementById('easymdeQuestion'),
    });

    const easymdeA = new EasyMDE({
        element: document.getElementById('my-text-areaA'),
    });

    const easymdeB = new EasyMDE({
        element: document.getElementById('my-text-areaB'),
    });

    const easymdeC = new EasyMDE({
        element: document.getElementById('my-text-areaC'),
    });

    const easymdeD = new EasyMDE({
        element: document.getElementById('my-text-areaD'),
    });

    const easymdeAnswerDescription = new EasyMDE({
        element: document.getElementById('text-area-easymdeAnswerDescription'),
    });
</script>