@model McqModel

@{
     string title = Model == null ||  Model.SubTopicId == null ? "Add" : "Edit";
}



<div class="flex flex-col items-center">
    <div class="w-full  bg-white rounded-lg shadow-lg p-6">
        <h2 class="responsive-title text-gray-900 mb-4 text-center">@(title) Mcq</h2>
        @*    <h2 class="text-lg sm:text-md md:text-xl lg:text-2xl text-gray-900 mb-4 text-center">
        Add Difficulty Level
        </h2> *@


        <form asp-action="AddOrEditMcq" asp-controller="Mcq" method="post" class="flex  w-full flex-col">

            <!-- Display validation summary for the entire form -->
            <div asp-validation-summary="ModelOnly" class="text-red-600"></div>

            <!-- Mcq Id -->
            <input asp-for="McqId" type="hidden"/>

            <!--Select Topic and Sub Topic Dropdown -->
            <div class="flex flex-col md:flex-row mb-2 gap-x-4">
                <!-- Topic -->
                <div class="mb-2 w-full">
                    <span class="text-red-600">*</span><label asp-for="Topic.TopicName" class=" text-gray-700 mb-1"></label>
                    <select asp-for="TopicId" asp-items="@(ViewBag.TopicList as List<SelectListItem>)"
                            class="w-full bg-gray-100 text-gray-900 border-0 rounded-md p-2 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150">
                        <option value="">Select Topic</option>
                    </select>
                    <span asp-validation-for="TopicId" class="text-red-600"></span>
                </div>

                <!-- Sub Topic -->
                <div class="mb-2 w-full">
                    <label asp-for="SubTopic.SubTopicName" class=" text-gray-700 mb-1"></label>
                    <select asp-for="SubTopicId" asp-items="@(ViewBag.SubTopicList as List<SelectListItem>)"
                            class="w-full bg-gray-100 text-gray-900 border-0 rounded-md p-2 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150">
                        <option value="">Select Sub Topic</option>
                    </select>
                    <span asp-validation-for="SubTopicId" class="text-red-600"></span>
                </div>

            </div>

            <!--Question-->
            <div class="mb-2">
                <div class="flex">
                    <label asp-for="QuestionText" class="text-gray-700 mb-1"></label><span class="text-red-600">*</span>
                </div>
                <textarea asp-for="QuestionText" placeholder="Enter Question" class="w-full bg-gray-100 text-gray-900 border-0 rounded-md p-2  focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150"></textarea>
                <span asp-validation-for="QuestionText" class="text-red-600"></span>
            </div>

            <!--  Mcq Options Answer -->
            <!--Option A-->
            <div class="mb-2" >
                <div class="flex">
                    <label asp-for="OptionA" class=" text-gray-700 mb-1"></label><span class="text-red-600">*</span>
                </div>
                <textarea rows="5" id="my-text-areaA" asp-for="OptionA" ></textarea>
                <span asp-validation-for="OptionA" class="text-red-600"></span>
            </div>

            <!--Option B-->
            <div class="mb-2">
                <div class="flex">
                    <label asp-for="OptionB" class=" text-gray-700 mb-1"></label><span class="text-red-600">*</span>
                </div>
                <textarea rows="5" id="my-text-areaB" asp-for="OptionB"></textarea>
                <span asp-validation-for="OptionB" class="text-red-600"></span>
            </div>

            <!--Option C-->
            <div class="mb-2">
                <div class="flex">
                    <label asp-for="OptionC" class=" text-gray-700 mb-1"></label><span class="text-red-600">*</span>
                </div>
                <textarea rows="5" id="my-text-areaC" asp-for="OptionC"></textarea>
                <span asp-validation-for="OptionC" class="text-red-600"></span>
            </div>

            <!--Option D-->
            <div class="mb-2">
                <div class="flex">
                    <label asp-for="OptionD" class=" text-gray-700 mb-1"></label><span class="text-red-600">*</span>
                </div>
                <textarea rows="5" id="my-text-areaD" asp-for="OptionD"></textarea>
                <span asp-validation-for="OptionD" class="text-red-600"></span>
            </div>


            <!--Correct Answer Topic -->
            @{
                var optionList = new List<SelectListItem>()
                {
                    new SelectListItem(){ Value="A" , Text="A"},
                    new SelectListItem(){ Value="B" , Text="B"},
                    new SelectListItem(){ Value="C" , Text="C"},
                    new SelectListItem(){ Value="D" , Text="D"},
                };
            }
            <div class="mb-2 w-full">
                <div class="flex">
                    <label asp-for="CorrectAnswer" class="text-gray-700 mb-1"></label><span class="text-red-600">*</span>
                </div>
                <select asp-for="CorrectAnswer" asp-items="@(optionList as List<SelectListItem>)"
                        class="w-full bg-gray-100 text-gray-900 border-0 rounded-md p-2 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150">
                    <option value="">Select Correct Answer</option>
                </select>
                <span asp-validation-for="CorrectAnswer" class="text-red-600"></span>
            </div>


            <div class="flex gap-x-4">
                <partial name="_Submit_Button" model="@(title)" />
                <partial name="_Back_Button" model="@("Back")" />
            </div>
        </form>
    </div>
</div>


<script>
    const easymdeA = new EasyMDE({
        element: document.getElementById('my-text-areaA'),
    });

    const easymdeB = new EasyMDE({
        element: document.getElementById('my-text-areaB'),
    });

    const easymdeC = new EasyMDE({
        element: document.getElementById('my-text-areaC'),
    });

    const easymdeD = new EasyMDE({
        element: document.getElementById('my-text-areaD'),
    });
</script>