@model SubTopicModel

@{
     string title = Model == null ||  Model.SubTopicId == null ? "Add" : "Edit";
}


<div class="flex flex-col items-center">
      <!-- Loading -->
    <div id="model-loading" style="display: none;" >
         <partial name="_Loading_Dialong"/>
    </div>
    </div>
    <div class="w-full  bg-white rounded-lg shadow-lg p-6">
        <h2 class="responsive-title text-gray-900 mb-4 text-center">@(title) Sub Topic</h2>
        @*    <h2 class="text-lg sm:text-md md:text-xl lg:text-2xl text-gray-900 mb-4 text-center">
        Add Difficulty Level
        </h2> *@


        <form asp-action="AddOrEditSubTopic" asp-controller="SubTopic" method="post" class="flex  w-full flex-col">
            <!-- Sub Topic id -->
            <input asp-for="SubTopicId" type="hidden" />

            <!--Sub Topic Name-->
            <div class="mb-2">
                <div class="flex">
                    <span class="text-red-600">*</span><label asp-for="SubTopicName" class="text-gray-700 mb-1"></label>
                </div>
                <input asp-for="SubTopicName" placeholder="Enter Sub Topic Name" class="w-full bg-gray-100 text-gray-900 border-0 rounded-md p-2  focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150">
                <span asp-validation-for="SubTopicName" class="text-red-600"></span>
            </div>

            <!--Course , Topic  Dropdown -->
            <div class="responsive-div mb-2">
                <!-- Select Course Dropdown -->
                <div class="dropdown-container">
                    <div class="flex">
                        <span class="text-red-600">*</span>
                        <label asp-for="Course!.CourseName" class="text-gray-700 mb-1"></label>
                    </div>
                    <select asp-for="CourseId" style="" asp-items="@(ViewBag.courseList as List<SelectListItem>)"
                    id="courseDropdown"
                            class="input-field courseDropdown bg-red" style="color:red">
                        <option value="">Select Course</option>
                    </select>
                    <span asp-validation-for="CourseId" class="text-red-600"></span>
                </div>

            <!-- Select Topic Dropdown -->
            <div class="dropdown-container">
                <div class="flex">
                    <span class="text-red-600">*</span>
                    <label asp-for="Topic!.TopicName" class="text-gray-700 mb-1"></label>
                </div>
                <select asp-for="TopicId" asp-items="@(ViewBag.topicList as List<SelectListItem>)"
                    id="TopicDropdown"
                        class="input-field">
                    <option value="">Select Topic</option>
                </select>
                <span asp-validation-for="TopicId" class="text-red-600"></span>
            </div>
            </div>

            <!-- difficulty Level radio -->
                <div class="mb-2">
                    <span class="text-red-600">*</span><label asp-for="DifficultyLevel.DifficultyLevelName" class="text-gray-700 mb-1"></label>
                <div class="flex">

                    @foreach(SelectListItem difficultyLevel in @ViewBag.difficultyLevelList as List<SelectListItem> ){
                        <div class="cursor-pointer">
                         <input asp-for="DifficultyLevelId" id="@difficultyLevel.Value" type="radio" value="@difficultyLevel.Value" class="m-2"/>
                        <label for="@difficultyLevel.Value" >@difficultyLevel.Text</label>
                    </div>
                        }
                </div>
                    <span asp-validation-for="DifficultyLevelId" class="text-red-600"></span>
            </div>

            <!-- Level Dropdown -->
            <div class="mb-2 w-full">
                <div class="flex">
                    <label asp-for="Level" class=" text-gray-700 mb-1"></label>
                </div>
                <select id="LevelDropdown" asp-for="Level" asp-items="@(ViewBag.LevelList as List<SelectListItem>)"
                        class="w-full bg-gray-100 text-gray-900 border-0 rounded-md p-2 focus:bg-gray-200 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150">
                    <option value="0">Select Level</option>
                </select>
            </div>


            <!--content-->
            <div>
                <div class="flex">
                    <span class="text-red-600">*</span><label asp-for="Content" class=" text-gray-700 mb-1"></label>
                </div>
                <textarea id="my-text-area" asp-for="Content"></textarea>
                <span asp-validation-for="Content" class="text-red-600"></span>
            </div>



            <div class="flex gap-x-4">
                <partial name="_Submit_Button" model="@(title)" />
                <partial name="_Back_Button" model="@("Back")" />
            </div>
        </form>
    </div>
</div>


@section Scripts{
    <!-- conten text area -->
    <script>
    const easymde = new EasyMDE({
        element: document.getElementById('my-text-area'),
    });
    </script>


<script src="~/lib/jquery/dist/jquery.min.js"></script> <!-- Local version of jQuery -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script> <!-- Select2 script -->

<!-- dropdown -->
<script type="text/javascript">
   // Loading
   const loading = document.getElementById("model-loading");

   //show loading dialong
   function showLoadingDialong(){
     loading.style.display = "block";
   }

   //hide loading dialong
   function hideLoadingDialong(){
     loading.style.display = "none";
   }

    $(document).ready(function() {
        // Initialize Select2 for searchable dropdowns
        $('.courseDropdown').select2({
            allowClear: true, // Allows clearing the selection,
           // theme: 'classic',
        });

        $('#TopicDropdown').select2({
            allowClear: true, // Allows clearing the selection,
            // theme: 'classic',
        });
        $('#DifficultyLevelDropdown').select2({
            allowClear: true, // Allows clearing the selection,
            // theme: 'classic',
        });

        // 
        

        //course drowpdown 
        $('#courseDropdown').change(function() {
            // show loading 
            showLoadingDialong();

            //call api
            var courseId = $(this).val();
            if (courseId) {
                $.ajax({
                    url: '/GetTopicsByCourseId/' + courseId,
                    type: 'GET',
                    @* data: { courseId: courseId }, *@
                    success: function(response) {
                        $('#TopicDropdown').empty();
                        $('#TopicDropdown').append('<option value="">Select Topic</option>');
                        $("LevelDropdown").empty();
                        $("LevelDropdown").append('<option value="0">Select Level</option>');
                        $.each(response.value, function(key, value) {
                            $('#TopicDropdown').append('<option value="' + value.topicId + '">' + value.topicName + '</option>'); 
                        });

                        //Hide loading dialong
                        hideLoadingDialong();
                    },
                    error:function(response){
                        //Hide loading dialong
                        hideLoadingDialong();
                    }
                });
            }else{
                //Hide loading dialong
                hideLoadingDialong();
            }
            
        });

        // change Level Dropdown by Topic
        $('#TopicDropdown').change(function() {
            // show loading 
            showLoadingDialong();

            var topicId = $(this).val();
            if (topicId) {
                $.ajax({
                    url: '/SubTopic/GetLevelsListByTopicId',
                    type: 'GET',
                    data: { topicId: topicId },
                    success: function(response) {
                        $('#LevelDropdown').empty();
                        $('#LevelDropdown').append('<option value="0">Select Level</option>');
                        $.each(response, function(key, value) {
                            $('#LevelDropdown').append('<option value="' + value + '">' + value + '</option>');
                        });
                        //Hide loading dialong
                        hideLoadingDialong();
                    },
                    error:function(){
                        //Hide loading dialong
                        hideLoadingDialong();
                    }
                });
            }else{
                //Hide loading dialong
                hideLoadingDialong();
            }
        });
    
    });
</script>
}

